<a href="https://colab.research.google.com/github/PrinceGhotar/Classification-of-Iris-Dataset/blob/main/sparks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Step 1- Load the data:**

In [ ]:
#Import the data 
import pandas as pd
import numpy as np
import seaborn as sns # used for data visualization and exploratory data analysis
import matplotlib.pyplot as plt 
%matplotlib inline

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

First , we have imported some important data for the project. 

*   Panadas will be used for read,write  and data manipulation from different files.
*   Numpy  will be used for any computational operations.

* Seaborn and Matplotlib wil be used for data visualization.

In [ ]:
path = r"/content/Iris.csv"
s_data = pd.read_csv(path)

Next, we load the data using pd.read_csv().

*   Pd.read_csv reads CSV files.
*   CSV standa for comma separted values.

In [ ]:
s_data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa



*   df.head() returns the first 5 rows of the dataframe.
*   All the numerical values are in centimeters.

## **Step 2- Analyze and visualize the dataset:**

In [ ]:
s_data.duplicated("Id")

0      False
1      False
2      False
3      False
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Length: 150, dtype: bool



*   s_data.duplicated("Id") check the duplicated series values in s_data.

In [ ]:
s_data.drop(["Id"], axis=1)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]


*  Here, we drop the Id values from the s_data dataset.

In [ ]:
#some basic statistical analysis abouth the data
s_data.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [ ]:
s_data=s_data.drop(["Id"], axis=1)

In [ ]:
s_data.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

 

*   From this description , we can see all the description about the data like average , minimum & maximum values ,etc.

In [ ]:
# Visualize the whole dataset
sns.pairplot (s_data,hue='Species')



*  To visualize the whole dataset we used the seaborn pair plot method.
*  It plots the whole dataset's information.

From this visualization  we can tell that

*   Iris-setosa is well separted from the other two flowers.
*   And also, iris-setosa is the shortest and iris virginica is the largest.

In [ ]:
#plot the average of each feature of each species
# Seperate features and target
data = s_data.values
X=data[:,0:4]
Y=data[:,4]

Here, we separted the features from the target value.

In [ ]:
s_data.shape

Here, we check the dimensions of the array.

In [ ]:
 columns = ['Sepal length', 'Sepal width', 'Petal length', 'Petal width', 'Species']

In [ ]:
# Calculate average of each features for all classes
Y_Data = np.array([np.average(X[:, i][Y==j].astype('float32')) for i in range (X.shape[1])
 for j in (np.unique(Y))])
Y_Data_reshaped = Y_Data.reshape(4, 3)
Y_Data_reshaped = np.swapaxes(Y_Data_reshaped, 0, 1)
X_axis = np.arange(len(columns)-1)
width = 0.25



* Np.average calculates the average from an array.
* Here we used two for loops inside a list.This is known as list comprehension that helps to reduce the number of lines of code.

* The Y_Data is a 1D array, but we have features for every 3 classes.So we reshaped Y_Data to a (4,3) shaped array.
* Then we change the axis of the reshaped matrix.

In [ ]:
# Plot the average
plt.bar(X_axis,Y_Data_reshaped[0],width,label= 'Setosa')
plt.bar(X_axis+width,Y_Data_reshaped[1],width,label= 'Versicolour')
plt.bar(X_axis+width*2,Y_Data_reshaped[2],width,label='Virginica')
plt.xticks(X_axis,columns[:4])
plt.xlabel("Features")
plt.ylabel("Value in cm ")
plt.legend(bbox_to_anchor=(1.3,1))
plt.show()



* We used Matplotlib to show the averages in a bar plot.

## **Step 3- Model  traning:**

In [ ]:
#Split the data to train and test dataset.
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,Y,test_size=0.2)



*   Here, using the train_test_split the whole data split into testing & training datasets.

In [ ]:
#Support vector machine algorithm
from sklearn.svm import SVC
svn=SVC()
svn.fit(X_train,y_train)



* Here we imported a support vector classifier from the sklearn support vector machine.
* Then, we created an object and named it svn.


* After that, we feed the training dataset into the lgorithm by using the svn.fit() method.

## **Step 4- Model Evaluation:**

In [ ]:
# Predict from the test dataset
predictions = svn.predict(X_test)



* We predict the Species from the test dataset using our trained model.

In [ ]:
#Calculate the accuracy
from sklearn.metrics import accuracy_score
accuracy_score(y_test,predictions)



* Here we check the accuracy score of the predicted Species.
* accuracy_score() takes true values and predicted values and returns the percentage of accuracy.


* The accuracy is 96.67%.

## **Step 5- Testing the Model:**

In [ ]:
# Test the model
X_new = np.array([[3,2,1,0.2],[4.9,2.2,3.8,1.1],[5.3,2.5,4.6,1.9]])

In [ ]:
#Prediction of the species from the input vector
prediction = svn.predict(X_new)
print("Predictions of  Species:{}".format(prediction))



* Here we take some random values based on the average plot to check the model can predict accurately.